{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>k-world</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400&display=swap"
      rel="stylesheet"
    />
    {% tailwind_css %}
  </head>

  <body
    class="bg-gray-600 leading-normal tracking-normal"
    style="font-family: 'Noto Sans KR', sans-serif"
    hx-get="/"
    hx-trigger="every 45s"
  >
    <header
      class="
        header
        sticky
        top-0
        z-40
        lg:z-50
        w-full
        max-w-8xl
        mx-auto
        bg-gray-700
        flex
        justify-center
      "
    >
      <div class="p-5 flex justify-between items-center w-9/12">
        <a
          class="text-xl text-gray-300 cursor-pointer"
          href="http://127.0.0.1:8000/"
          >k-world</a
        >
        {% if not user.is_authenticated %}
        <div class="justify-between">
          <a
            class="text-l text-gray-300 rounded-md cursor-pointer p-2 mr-1"
            href="{% url 'authentication:login' %}"
          >
            login
          </a>
          <a
            class="
              text-l text-gray-300
              bg-blue-500
              hover:bg-blue-600
              rounded-md
              cursor-pointer
              p-2
              ml-1
            "
            href="{% url 'authentication:register' %}"
          >
            signup
          </a>
        </div>
        {% else %}
        <div class="justify-between">
          <a
            class="
              text-l text-gray-300
              bg-blue-500
              hover:bg-blue-600
              rounded-md
              cursor-pointer
              p-2
              ml-1
            "
            href="{% url 'authentication:logout' %}"
          >
            logout
          </a>
        </div>
        {% endif %}
      </div>
    </header>

    <div class="container mx-auto">
      <section class="flex items-center justify-center h-auto mt-10">
        {% block content %} {% endblock content %}
      </section>
    </div>

    <script>
      const header = document.querySelector('.header')

      var lastScrollTop = 0

      window.addEventListener('scroll', () => {
        if (this.oldScroll > this.scrollY) {
          header.classList.add('sticky')
        } else {
          header.classList.remove('sticky')
        }
        this.oldScroll = this.scrollY
      })
    </script>

    <script src="https://unpkg.com/htmx.org@1.5.0"></script>
  </body>
</html>
