{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Django Tailwind</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
  </head>

  <body class="bg-grey-lightest font-serif leading-normal tracking-normal">
    <header
      class="
        sticky
        top-0
        z-40
        lg:z-50
        w-full
        max-w-8xl
        mx-auto
        bg-purple-500
        flex
        justify-center
      "
    >
      <div class="p-4 flex justify-between w-11/12">
        <span class="text-xl">ケイヲーールド</span>
        <div class="justify-between">
          <span class="text-xl">login</span>
          <span class="text-xl ml-4">signup</span>
        </div>
      </div>
    </header>
    <div class="container mx-auto">
      <section class="flex items-center justify-center h-screen">
        {% block content %} {% endblock content %}
      </section>
    </div>
  </body>
</html>
