<article
  class="thought{{thought.id}} bg-gray-300 p-1 mt-2 mb-2 rounded-l"
  {% if thoughts.has_next and forloop.last %}
  hx-get="/?page={{ thoughts.next_page_number }}"
  hx-trigger="revealed"
  hx-swap="afterend"
  {% endif %}
>
  <div class="bg-gray-500 p-2 flex justify-between">
    <span>{{thought.author}}</span>
    {% if thought.author == request.user %}
      <span class="hover:cursor-pointer"
      hx-post={% url 'post:delete_thought' thought.id %}
      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
      hx-trigger="click"
      >
        delete
      </span>
    {% endif %}
  </div>
  <div class="p-2">
    <h1>{{thought.thought}}</h1>
  </div>
  <div class="flex justify-end p-2">
    <dfn class="not-italic" title="{{thought.created_at}}">
        {{thought.get_time_ago}}
    </dfn>
  </div>
</article>

<script>
  thought = document.querySelector(".thought{{thought.id}}")

  thought.addEventListener('click', () => {
    window.location = "{% url 'post:thought_detail' thought.id %}"
  })
</script>
